.top {
  background-image: url('../../public/top-home-bg.png');
  background-position: bottom;
  background-size: 21%;
  background-position: 3% 0%;

  @include landscape-tablet-up {
    background-size: 21.5%;
    background-position: 2% 0%;
  }
}

.bottom {
  background-image: url('../../public/bottom-home-bg.png');
  background-size: 85%;
  background-position: 50% 20%;
  display: grid;
  grid-template-rows: 17% 22% 22% 21% 18%;
  grid-template-columns: 18% 16% 16% 16% 16% 18%;

  @include standard-laptop {
    grid-template-rows: 17% 22% 22% 22% 17%;
  }

  @include phones {
    grid-template-rows: 18% 21% 22% 21% 18%;
  }

  div[class^='home_btn_'] {
    padding: 6px;
    filter: blur(0.3px);
  }

  .btn_search_rooms {
    grid-row: 2 / 3;
    grid-column: 2 / 6;
  }
  .btn_create_room {
    grid-row: 3 / 4;
    grid-column: 2 / 6;
  }
  .btn_join {
    grid-row: 4 / 5;
    grid-column: 2 / 6;
  }
  .username_input {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    display: flex;
    align-items: flex-end;
  }
}
