.top {
  background-image: url('../../public/top-home-bg.png');
  background-position: bottom;
  background-size: 21%;
  background-position: 3% 0%;

  @include landscape-tablet-up {
    background-size: 21.5%;
    background-position: 2% 0%;
  }
}

.bottom {
  background-image: url('../../public/bottom-home-bg.png');
  background-size: 85%;
  background-position: 50% 25%;
  display: grid;
  grid-template-rows: 13% 23% 23% 23% 18%;
  grid-template-columns: 18% 16% 16% 16% 16% 18%;

  @include standard-laptop {
    background-position: 50% 20%;
  }

  @include phones {
    grid-template-rows: 18% 21% 22% 21% 18%;
  }
}
