.main {
  display: flex;
  justify-content: center;
  background-color: #efefef;
}

.main_section {
  width: 50vw;
  max-width: 700px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @include landscape-tablet-up {
    min-width: 400px;
    width: 75vw;
  }
  @include phones {
    min-width: 200px;
    width: 90vw;
  }
  @include small-phones {
    width: 85vw;
  }
}

.screen {
  aspect-ratio: 4 / 3;
  border: 4px solid #333;
  max-height: 42vh;
  border-radius: 4px;
  box-shadow: 2px 3px 6px #222;
}

.screen.top {
  margin-bottom: 40px;
  background-image: url('../../public/top_home_bg.png');
  background-position: bottom;
  background-size: 21%;
  background-position: 3% 0%;

  @include landscape-tablet-up {
    background-size: 21.5%;
    background-position: 2% 0%;
  }
}

.screen.bottom {
  background-image: url('../../public/bottom_home_bg.png');
  background-size: 85%;
  background-position: 50% 25%;

  @include standard-laptop {
    background-position: 50% 20%;
  }
}
