.top {
  display: grid;
  grid-template-columns: 7.5% 1fr;

  .left_column {
    background-color: $clear-bg;
    box-shadow: 1px 0px 1px $clear-bg;
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% auto 12%;

    .top_section {
      position: relative;

      @include left-column-dotted-border {
        position: absolute;
        bottom: 1px;
      }
    }

    // .mid_section {}

    .bottom_section {
      @include left-column-dotted-border;
    }
  }

  .right_column {
    @include options-bg;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4px 2px 4px 4px;
  }
}

.bottom {
  @include options-bg;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12% auto 12%;
  overflow: hidden;

  .bottom_top {
    @include flexcenter;
    background-image: url('/backgrounds/options-gradient-top.png');
    background-size: contain;
    border-bottom: 3px solid #333;

    p {
      font-size: 25px;
      filter: blur(0.3px);

      @include phones {
        font-size: 20px;
      }
      @include small-phones {
        font-size: 16px;
      }
    }
  }

  // .bottom_center {
  // }

  .bottom_bottom {
    background-image: url('/backgrounds/options-gradient-bottom.png');
    background-size: contain;
    border-top: 3px solid #333;
    position: relative;
    z-index: 100;
    @include flexcenter;

    .bottom_btn_container {
      height: 70%;
      width: 150px;

      @include phones {
        width: 120px;
      }

      @include small-phones {
        height: 20px;
      }
    }
  }
}
