.top {
  display: grid;
  grid-template-columns: 7.5% 1fr;

  .left_column {
    background-color: $clear-bg;
    box-shadow: 1px 0px 1px $clear-bg;
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% auto 12%;

    .top_section {
      position: relative;

      @include left-column-dotted-border {
        position: absolute;
        bottom: 1px;
      }
    }

    .content_indicator {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 8px 0 50% 0;
      height: 310px;

      @include small-height-devices {
        height: 252px;
      }

      @include phones {
        height: 218px;
      }

      @include small-phones {
        height: 190px;
      }

      .indictor_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:first-child {
          margin-bottom: 4px;
        }
        &:last-child {
          margin-top: 4px;
        }

        @include phones {
          &:first-child {
            margin-bottom: 3px;
          }
          &:last-child {
            margin-top: 3px;
          }
        }
      }

      .main_container {
        overflow: hidden;
      }

      @keyframes grow {
        0% {
          transform: scaleY(0);
        }
        100% {
          transform: scaleY(1);
        }
      }

      .indicator {
        animation: grow 0.2s ease-in-out;
        transform-origin: bottom;
        height: 4px;
        min-height: 4px;
        width: 70%;
        background-color: $content-visible;
        filter: blur(0.5px);
        margin-top: 5px;

        &.invisible {
          background-color: $content-invisible;
        }

        &.overflowed_1 {
          width: 50%;
        }

        &.overflowed_2 {
          width: 25%;
        }

        &:first-child {
          margin-top: 0;
        }

        @include phones {
          height: 3px;
          min-height: 3px;
          width: 65%;
          margin-top: 3px;

          &.overflown_1 {
            width: 45%;
          }

          &.overflown_2 {
            width: 20%;
          }
        }
      }
    }

    .bottom_section {
      @include left-column-dotted-border;
    }
  }

  .right_column {
    @include options-bg;

    display: flex;
    flex-direction: column;
    padding: 4px 2px 4px 4px;
    overflow: scroll;

    // Hide the scrollbar, but allow to scroll.
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.bottom {
  @include options-bg;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12% auto 12%;
  overflow: hidden;

  .bottom_top {
    @include flexcenter;
    background-image: url('/backgrounds/options-gradient-top.png');
    background-size: contain;
    border-bottom: 3px solid #333;

    p {
      font-size: 25px;
      filter: blur(0.3px);

      @include phones {
        font-size: 20px;
      }
      @include small-phones {
        font-size: 16px;
      }
    }
  }

  // .bottom_center {
  // }

  .bottom_bottom {
    background-image: url('/backgrounds/options-gradient-bottom.png');
    background-size: contain;
    border-top: 3px solid #333;
    position: relative;
    z-index: 100;
    @include flexcenter;

    .bottom_btn_container {
      height: 70%;
      width: 150px;

      @include phones {
        width: 120px;
      }

      @include small-phones {
        height: 20px;
      }
    }
  }
}
