.button_outer {
  // height: 35px;
  // width: 150px;
  height: 100%;
  width: 100%;

  @include ds-font;
  font-size: 25px;
  color: #111;
  padding: 0 1px;
  position: relative;
  border: 2px solid $dark-gray;
  background-color: $clear-bg;
  transition: all 0.2s ease-in-out;

  clip-path: polygon(
    0px 2px,
    2px 2px,
    2px 0px,
    calc(100% - 2px) 0px,
    calc(100% - 2px) 2px,
    100% 2px,
    100% calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) 100%,
    2px 100%,
    2px calc(100% - 2px),
    0px calc(100% - 2px)
  );

  .button_inner {
    @include flexcenter;
    background-image: url('/backgrounds/btn-gradient.png');
    background-size: contain;
    border-top: 2px solid #cdcdcd;
    border-left: 2px solid #cdcdcd70;
    border-right: 2px solid #cdcdcd70;
    height: 93%;
    padding: 1px;
  }

  &:hover {
    cursor: pointer;
    background-color: #acacac;
  }

  &:active {
    top: 1px;
  }

  @include phones {
    font-size: 18px;

    .button_inner {
      padding-bottom: 2px;
    }
  }

  @include small-phones {
    font-size: 16px;

    .button_inner {
      padding-bottom: 3px;
    }
  }

  &.smaller_font {
    font-size: 22px;

    @include phones {
      font-size: 16px;
    }

    @include small-phones {
      font-size: 14px;

      .button_inner {
        padding-bottom: 3px;
      }
    }
  }
}
