.dialog_container {
  width: 100%;
  height: 100%;
  position: absolute;
  @include flexcenter;
  background-color: rgba(17, 17, 17, 0.45);
  z-index: 1500;
}

.dialog_layer_1 {
  width: 320px;

  background-color: #111;
  z-index: 1;
  margin: 0 1% 3px 1.5%;
  position: relative;
  filter: blur(0.5px);
  @include flexcenter;
  @include pixelated-rectangle;

  min-height: 100px;
  height: max-content;
  padding: 4px 0;

  @include phones {
    width: 280px;
    min-height: 90px;
  }

  @include tiny-phones {
    width: 210px;
    min-height: 70px;
  }

  @include ipad-pro-11 {
    filter: blur(0.1px);
  }

  .dialog_layer_2 {
    background-color: $strong-orange;
    @include pixelated-rectangle;
    @include flexcenter;
    width: 97%;

    height: max-content;
    padding: 3px 0;
    min-height: 90px;

    .dialog_content {
      @include pixelated-rectangle;
      @include ds-font;
      background-color: $dark-gray;
      background-image: url('/backgrounds/dialog-bg.png');
      background-size: contain;
      display: grid;
      grid-template-columns: 12% 38% 38% 12%;
      align-items: center;
      justify-content: center;
      width: 97.5%;
      color: $clear-bg;

      height: max-content;
      min-height: 82.8px;

      .text {
        font-size: 22px;
        grid-column: 2 / 4;
        text-align: center;
        margin: 6px 0 3px 0;
        line-height: 1;

        @include phones {
          font-size: 18px;
        }

        @include tiny-phones {
          font-size: 15px;
        }
      }

      .spinner-area-left,
      .spinner-area-right {
        height: 20px;
        width: 20px;
        margin-left: 20%;
      }

      .options {
        height: 24px;
        display: flex;
        grid-column: 2 / 4;
        justify-content: center;
        margin: 8px 0;

        div {
          width: auto;
          min-width: 100px;

          button {
            @include flexcenter;
            font-size: 20px;
          }
        }

        @include landscape-tablet-up {
          div {
            button {
              font-size: 18px;
            }
          }
        }

        @include phones {
          grid-column: 1 / -1;

          div {
            width: auto;
            min-width: 88px;

            button {
              font-size: 16px;
            }
          }
        }

        @include small-phones {
          height: 22px;
        }

        @include tiny-phones {
          height: 18px;

          div {
            width: auto;
            min-width: 70px;

            button {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &.ja {
    .dialog_layer_2 {
      .dialog_content {
        .text.ja {
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 1.4;
          margin: 8px 0 3px 0;
        }

        .title {
          letter-spacing: 1px;
        }

        .options {
          div button {
            font-size: 14px;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }

  &.large_dialog {
    min-height: 230px;
    width: 400px;

    .dialog_layer_2 {
      min-height: 218.5px;

      .dialog_content {
        width: 98%;
        min-height: 210px;

        .options {
          align-self: flex-end;
          margin-bottom: 15px;
        }
      }
    }

    @include phones {
      width: 280px;

      .options {
        margin-top: 10px;
      }
    }

    @include tiny-phones {
      min-height: 150px;
      width: 200px;
    }
  }
}

.user_list {
  .title {
    margin: 12px 0;
  }

  ol {
    height: 120px;
    margin: 5px 0;

    li {
      text-align: left;
    }

    @include tiny-phones {
      height: 58px;
    }
  }
}

.language_list {
  letter-spacing: 1px;

  .title {
    margin: 5px 0 12px 0;

    &.ja {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  ul {
    height: 100px;
    width: 90%;
    margin: 5px 0;
    list-style-type: none;
    overflow-x: hidden;
    @include flexcenter-column;

    li {
      text-align: center;
      text-decoration: none;
      position: relative;
      width: max-content;
      margin-bottom: 6px;
      line-height: 1;
      transition: all 0.2s ease-in-out;

      &.ja {
        font-size: 20px;
        margin-top: 5px;
      }

      &.pt.selected_lang::before {
        right: 90px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        text-decoration: underline;

        @include phones {
          transform: none;
          text-decoration: none;
        }
      }

      &:active {
        transform: scale(1);
      }

      &.selected_lang {
        &::before {
          content: '';
          position: absolute;
          right: 70px;
          top: 50%;
          transform: translateY(-50%);
          border-width: 5px;
          border-style: solid;
          // Right-pointing triangle
          border-color: transparent transparent transparent $clear-bg;
          animation: binaryBlink 1.5s infinite;
        }
      }
    }
  }

  @include phones {
    .title {
      font-size: 20px;
      margin: 5px 0 12px 0;

      &.ja {
        font-size: 18px;
      }
    }

    ul {
      height: 112px;

      li {
        font-size: 20px;

        &.ja {
          font-size: 16px;
        }
      }
    }
  }
}

.go_up {
  animation: goUp 0.3s linear;
}

.go_down {
  transform: translateY(330px);
  transition: all 0.4s linear;

  @include phones {
    transform: translateY(260px);
  }
}

@keyframes goUp {
  from {
    transform: translateY(230px);
  }
  to {
    transform: translateY(0px);
  }
}
