.dialog_container {
  width: 100%;
  height: 100%;
  position: absolute;
  @include flexcenter;
  background-color: rgba(17, 17, 17, 0.45);
  z-index: 1000;
}

.dialog_layer_1 {
  width: 320px;
  height: 100px;
  background-color: #111;
  z-index: 1;
  margin: 0 1% 3px 1.5%;
  position: relative;
  filter: blur(0.5px);
  @include flexcenter;
  @include pixelated-rectangle;

  @include small-phones {
    width: 280px;
    height: 90px;
  }

  .dialog_layer_2 {
    background-color: $strong-orange;
    @include pixelated-rectangle;
    @include flexcenter;
    width: 97%;
    height: 90%;

    .dialog_content {
      @include pixelated-rectangle;
      background-color: $dark-gray;
      background-image: url('/backgrounds/dialog-bg.png');
      background-size: contain;
      font-family: 'nds', roboto, sans-serif;
      display: grid;
      grid-template-columns: 12% 38% 38% 12%;
      align-items: center;
      justify-content: center;

      .text {
        font-size: 22px;
        grid-column: 2 / 4;
        display: flex;
        align-items: center;
        padding: 0 3%;

        @include small-phones {
          font-size: 18px;
        }
      }

      width: 97.5%;
      height: 92%;
      color: $clear-bg;

      .spinner-area-left,
      .spinner-area-right {
        height: 20px;
        width: 20px;
        margin-left: 20%;
      }

      .options {
        height: 24px;
        display: flex;
        grid-column: 2 / 4;
        justify-content: space-between;

        div {
          width: 100px;

          button {
            font-size: 20px;
          }
        }

        @include small-phones {
          grid-column: 1/5;

          div {
            height: 20px;

            button {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.go_up {
  animation: goUp 0.3s linear;
}

.go_down {
  animation: goDown 0.3s linear;
}

@keyframes goUp {
  from {
    transform: translateY(230px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes goDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(230px);
  }
}
