.input_container {
  @include pixelated-rectangle-except-left;
  @include ds-font;
  width: 100%;
  height: 50px;
  background-color: $dark-gray;
  z-index: 10;

  .title {
    color: palegoldenrod;
    padding: 0px 0 2px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  input {
    @include pixelated-rectangle-except-left;
    @include ds-font;
    height: 72%;
    width: 100%;
    color: #111;
    background-color: $clear-bg;
    border: none;
    font-size: 30px;
    padding: 0 0 4px 10px;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    position: relative;
    filter: blur(0.3px);

    &:focus {
      outline: none;
    }
  }

  &.cn {
    .title {
      font-size: 13px;
    }

    input {
      font-size: 20px;
    }
  }

  &:focus-within {
    &::after {
      @include pixelated-rectangle-except-left;
      content: '';
      display: block;
      width: 100%;
      height: 75%;
      position: relative;
      bottom: 64%;
      background: #111;
    }

    .title {
      color: $mellow-yellow;
    }

    input {
      width: 97%;
      height: 62%;
      left: 1.5%;
      top: 4%;
    }
  }

  @include landscape-tablet-up {
    .title {
      font-size: 12px;
      padding: 2px 0 2px 5px;

      &.extra_pad_left {
        padding-left: 10px;
      }
    }

    &.cn .title {
      font-size: 12px;
    }
  }

  @include small-height-devices {
    .title {
      font-size: 12px;
      padding: 2px 0 2px 5px;
    }

    &.cn .title {
      font-size: 12px;
    }
  }

  @include phones {
    height: 42px;

    input {
      font-size: 22px;
    }

    &:focus-within {
      input {
        height: 56%;
        top: 4%;
        padding: 0 0 2px 10px;
      }

      &::after {
        height: 70%;
        bottom: 57%;
      }
    }

    &.cn {
      .title {
        font-size: 10px;
      }

      input {
        font-size: 18px;
      }
    }
  }

  &.simple_width {
    width: 250px;

    @include phones {
      width: 55vw;
    }
  }
}

.make_complete_rectangle {
  @include pixelated-rectangle;

  input {
    @include pixelated-rectangle;
  }

  &:focus-within {
    &::after {
      @include pixelated-rectangle;
    }
  }
}
