.keyboard_bg {
  @include pixelated-rectangle;
  @include flexcenter;
  background-color: $dark-gray;
  width: 100%;
  height: 100%;

  .keyboard_content {
    @include pixelated-rectangle;
    background-color: $clear-bg;
    width: 99%;
    height: 97%;
  }

  img {
    -webkit-user-drag: none;

    &.active {
      position: absolute !important;
      z-index: 1;
      opacity: 0;
    }
  }

  .special_key {
    background-color: $special-key-bg !important;
    filter: none;

    &:active,
    &.selected {
      background-color: $key-special-active-bg !important;

      img:first-child {
        opacity: 0;
      }
      img.active {
        opacity: 1;
      }
    }
  }
}

@mixin base_key {
  @include flexcenter;
  background-color: $key-bg;
  color: $key-color;
  font-size: 28px;
  border: 1.5px solid $clear-bg;
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: $key-active-bg;
    color: $key-active-color;
  }
}

.alphanumeric {
  width: 100%;
  height: 100%;
  user-select: none;
  padding: 1.2px;

  .key_row {
    display: flex;

    &:first-child {
      margin: 0px 7px;
    }

    &:nth-child(2) {
      margin: 0px 0px 0px 22px;

      .DEL {
        width: 56px;

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }
    }

    &:nth-child(3) {
      .CAPS {
        width: 38px;

        img {
          width: 85%;
          height: 60%;
          object-fit: contain;
        }
      }

      .ENTER {
        width: 72px;

        img {
          width: 90%;
          height: 70%;
          object-fit: contain;
        }
      }
    }

    &:nth-child(4) {
      .SHIFT {
        width: 54px;

        img {
          width: 65%;
          height: 45%;
          object-fit: contain;
        }
      }
    }

    &:nth-child(5) {
      margin: 0px 0px 0px 69px;

      .SPACE {
        width: 175px;
        position: relative;

        img {
          width: 25%;
          height: 38%;
          object-fit: contain;
          position: relative;
          top: 3px;

          &.active {
            top: 12px;
          }
        }
      }
    }

    div {
      height: 32.6px;
      width: 33px;
      @include base_key;
    }
  }
}

.keyboard_grid {
  display: grid;
  grid-template-columns: repeat(11, 33.5px) 1fr;
  grid-template-rows: repeat(5, 32.6px);

  width: 100%;
  height: 100%;
  user-select: none;
  padding: 1.2px 0.8px 1.2px 1.2px;

  .DEL,
  .ENTER,
  .SPACE {
    grid-column: 12 / 13;
  }

  .ENTER {
    grid-row: 3 / 5;

    img {
      width: 90%;
      height: 70%;
      object-fit: contain;
    }
  }

  .DEL img {
    width: 70%;
    height: 52%;
    object-fit: contain;
  }

  .SPACE img {
    width: 90%;
    height: 40%;
    object-fit: contain;
  }

  div {
    @include base_key;

    &:nth-child(12) {
      grid-column: 1 / 2;
    }
  }
}
