.octagon_outside {
  width: 100%;
  z-index: 1;
  position: relative;
  @include flexcenter;
  @include pixelated-rectangle;
  background-color: $clear-bg;
  margin-top: 4px;

  &:first-child {
    margin-top: 0px;
  }

  &.blur {
    filter: blur(0.5px);
  }

  &.paperchat_octagon {
    height: 12%;
    min-height: 12%;
    background-color: $dark-gray;

    &:first-child {
      margin-top: auto;
    }

    .octagon_outline {
      background-color: $clear-bg;

      .octagon_content {
        justify-content: flex-start;
        background-color: $dark-gray;
        color: $dim-beige;
        text-transform: uppercase;

        @include phones {
          font-size: 22px;
        }
      }
    }
  }

  &.info {
    height: 11%;
    min-height: 11%;
    background-color: #000;

    .octagon_outline {
      background-color: $clear-bg;

      .octagon_content {
        background-color: #000;
        color: $clear-bg;
        font-size: 30px;
        justify-content: flex-start;

        @include small-height-devices {
          font-size: 22px;
        }

        @include phones {
          font-size: 22px;
        }

        span {
          margin-right: 5px;
        }

        .now_entering {
          color: $now-entering;
        }
        .now_leaving {
          color: $now-leaving;
        }
      }
    }
  }

  @keyframes go-up {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 200px;
    }
  }

  &.message {
    &.animate {
      animation: go-up 0.2s linear;
    }

    .octagon_outline {
      height: 98%;
      width: 99.4%;
      padding: 3px 0;

      .octagon_content {
        width: 99%;
        height: max-content;
        padding: 0;

        img {
          width: 100%;
        }
      }
    }

    &.short_message {
      @include pixelated-rectangle-except-bottom-left;

      .octagon_outline {
        @include pixelated-rectangle-except-bottom-left;
      }

      .octagon_content {
        @include pixelated-rectangle-except-bottom-left;
      }
    }
  }

  .octagon_outline {
    @include pixelated-rectangle;
    @include flexcenter;
    width: 99%;
    height: 90%;

    @include phones {
      width: 98.8%;
    }

    .octagon_content {
      @include pixelated-rectangle;
      @include flexcenter;
      padding-left: 10px;
      padding-bottom: 3px;
      width: 99.4%;
      height: 90%;
      font-family: 'nds', roboto, sans-serif;
      font-size: 35px;
      background-color: $clear-bg;

      @include small-height-devices {
        font-size: 28px;
        padding-bottom: 1px;
      }
      @include phones {
        padding-bottom: 1px;
      }

      @include phones {
        width: 99%;
        height: 89%;
        font-size: 20px;
      }
    }
  }
}
