.room_item {
  background-color: $dim-beige;
  background-image: url('/backgrounds/room-item-bg.png');
  background-size: contain;
  border: 2px solid $dark-gray;
  height: 75px;
  width: 80%;
  display: grid;
  grid-template-columns: 18% 48% 34%;
  filter: blur(0.3px);
  position: relative;
  @include ds-font;
  font-size: 30px;
  overflow: hidden;
  margin: 10px auto;

  &:hover {
    cursor: pointer;
  }

  &:active {
    top: 1px;
    filter: brightness(85%);
  }

  .letter_segment {
    background-color: $clear-bg;
    border-right: 2px solid $dark-gray;
    position: relative;
    bottom: 1px;
    height: 102%;
    @include flexcenter;

    .letter {
      font-size: 95px;
      position: absolute;
      left: 10%;
      bottom: -2%;
      line-height: 0.86;
      color: $clear-bg;
      filter: drop-shadow(3px 3px 2px $transparent-gray);
      text-shadow: 2px 0 $dark-gray, -2px 0 $dark-gray, 0 2px $dark-gray, 0 -2px $dark-gray,
        1px 1px $dark-gray, -1px -1px $dark-gray, 1px -1px $dark-gray, -1px 1px $dark-gray;
    }

    .pencil {
      position: absolute;
      right: 10%;

      .pencil_body {
        width: 10px;
        height: 45px;
        border: 2px solid $dark-gray;
        border-bottom: none;
        position: relative;
        box-shadow: inset -4px 0px 1px 0px rgba(105, 105, 105, 0.37),
          3px 0px 2px 0px rgba(105, 105, 105, 0.37);

        .pencil_neck_line {
          position: absolute;
          bottom: 3px;
          background-color: $dark-gray;
          height: 2px;
          width: 8px;
        }

        $pencil_dot: 2px;

        .pencil_head {
          position: absolute;
          bottom: -2px;
          background-color: $dark-gray;
          width: $pencil_dot;
          height: $pencil_dot;

          &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: $dark-gray;
            width: $pencil_dot;
            height: $pencil_dot;
            bottom: 0px;
            left: 4px;
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: $dark-gray;
            width: $pencil_dot;
            height: $pencil_dot;
            bottom: -2px;
            left: 2px;
          }
        }

        .pencil_dots {
          position: absolute;
          bottom: -8px;
          left: -3px;
          width: $pencil_dot;
          height: $pencil_dot;
          background-color: $dark-gray;
          box-shadow: -2px 0px 4px 0.5px $dark-gray;

          &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: $dark-gray;
            width: $pencil_dot;
            height: $pencil_dot;
            left: -4px;
          }
        }
      }
    }
  }

  .name_segment {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;

    color: $dark-gray;
  }

  .users_segment {
    display: flex;
    align-items: center;

    .user_number_box {
      border: 2px solid $dark-gray;
      background-color: transparent;
      width: 90px;
      height: 32px;
      display: flex;
      box-shadow: inset 0px 0px 5px 1px $transparent-gray;
      border-radius: 1.5px;

      .user_icon {
        width: 24px;
        height: 28px;
        align-self: center;
        margin-right: 15%;
        margin-left: -2%;
        margin-bottom: -2%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .users_number {
        color: #111;
        align-self: center;
      }
    }
  }

  @include phones {
    width: 90%;
    height: 60px;
    grid-template-columns: 18% 50% 32%;

    .letter_segment {
      .letter {
        font-size: 70px;
      }

      .pencil {
        .pencil_body {
          height: 38px;

          .pencil_neck_line {
            width: 7px;
          }

          .pencil_dots {
            bottom: -6px;
          }
        }
      }
    }

    .name_segment {
      font-size: 25px;
    }

    .users_segment {
      .user_number_box {
        width: 80px;
        height: 28px;

        .user_icon {
          width: 22px;
          height: 25px;
          margin-right: 12%;
        }
      }
    }
  }

  @include small-phones {
    height: 52px;
    grid-template-columns: 20% 50% 30%;

    .letter_segment {
      .letter {
        font-size: 65px;
      }

      .pencil {
        .pencil_body {
          height: 32px;
          width: 9px;
          box-shadow: inset -3px 0px 1px 0px rgba(105, 105, 105, 0.37),
            3px 0px 2px 0px rgba(105, 105, 105, 0.37);

          .pencil_dots {
            bottom: -5px;
          }
        }
      }
    }

    .name_segment {
      font-size: 22px;
    }

    .users_segment {
      .user_number_box {
        width: 80%;
        height: 28px;

        .user_icon {
          width: 18px;
          height: 22px;
          margin-right: 10%;
        }

        .users_number {
          font-size: 26px;
        }
      }
    }
  }
}
