.option_cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;

  .card {
    width: 90%;
    height: 38%;
    background-color: $dark-gray;
    position: relative;
    @include pixelated-rectangle;
    @include flexcenter;

    &:hover {
      cursor: pointer;
    }

    &:active {
      top: 1px;
      filter: brightness(85%);
    }

    .card__inner {
      @include pixelated-rectangle;
      width: 98%;
      height: 90%;
      background-color: $dim-beige;
      transition: all 0.2s ease-in-out;
      position: relative;

      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 75% auto;

      .title,
      .description {
        padding-left: 15px;
        padding-right: 10px;
        line-height: 0.85;

        @include landscape-tablet-up {
          padding-left: 10px;
        }

        @include small-phones {
          padding-left: 8px;
        }
      }

      .title {
        font-size: 550%;
        color: $dark-gray;
        filter: blur(0.3px);
        position: relative;

        @include landscape-tablet-up {
          font-size: 430%;
        }

        @include phones {
          font-size: 330%;
          top: 3px;
        }

        @include small-phones {
          font-size: 350%;
          top: 0px;
        }

        @include tiny-phones {
          font-size: 250%;
        }
      }

      svg {
        position: relative;
        top: 10px;
        fill: $dark-gray;
        height: 100%;
        width: 100%;
        filter: blur(0.3px);
      }

      .description {
        grid-column: 1 / -1;
        font-size: 20px;
        color: $dark-gray;

        @include landscape-tablet-up {
          font-size: 18px;
        }

        @include phones {
          font-size: 15px;
        }

        @include small-phones {
          font-size: 12px;
        }

        @include tiny-phones {
          font-size: 10px;
        }
      }
    }
  }

  .double_cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 38%;

    .card {
      height: 100%;
      width: 49%;

      .card__inner {
        width: 96%;
        height: 90%;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50% 50%;
        align-items: center;

        .title {
          font-size: 350%;

          @include landscape-tablet-up {
            font-size: 300%;
          }
          @include phones {
            font-size: 230%;
            top: 0px;
          }
          @include tiny-phones {
            font-size: 170%;
          }
        }

        .icon {
          width: 80%;
          position: relative;
          bottom: 6px;

          &.dino {
            width: 90%;
            bottom: 18px;

            @include phones {
              bottom: 15px;
            }
          }
        }
      }
    }
  }
}
