.option_cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;

  .card {
    width: 90%;
    height: 38%;
    background-color: $dark-gray;
    position: relative;
    @include pixelated-rectangle;
    @include flexcenter;

    &:hover {
      cursor: pointer;
    }

    &:active {
      top: 1px;
      filter: brightness(85%);
    }

    .card__inner {
      @include pixelated-rectangle;
      width: 98%;
      height: 90%;
      background-color: $dim-beige;
      transition: all 0.2s ease-in-out;
      position: relative;

      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 75% auto;

      .title,
      .description {
        padding-left: 15px;
        padding-right: 10px;
        line-height: 0.85;

        @include landscape-tablet-up {
          padding-left: 10px;
        }

        @include small-phones {
          padding-left: 8px;
        }
      }

      .title {
        font-size: 550%;
        color: $dark-gray;
        filter: blur(0.3px);
        position: relative;

        &.smaller_title {
          font-size: 460%;
          line-height: 1;
          top: 4px;
        }

        @include small-height-devices {
          font-size: 430%;

          &.smaller_title {
            font-size: 400%;
            top: -0px;
          }
        }

        @include landscape-tablet-up {
          font-size: 430%;

          &.smaller_title {
            font-size: 400%;
          }
        }

        @include phones {
          font-size: 330%;
          top: 3px;

          &.smaller_title {
            font-size: 300%;
          }
        }

        @include small-phones {
          font-size: 350%;
          top: 0px;

          &.smaller_title {
            font-size: 300%;
          }
        }

        @include tiny-phones {
          font-size: 250%;

          &.smaller_title {
            font-size: 230%;
          }
        }
      }

      svg {
        position: relative;
        top: 12px;
        fill: $dark-gray;
        height: 100%;
        width: 100%;
        filter: blur(0.3px);
      }

      .description {
        grid-column: 1 / -1;
        font-size: 20px;
        color: $dark-gray;

        &.smaller_description {
          font-size: 17px;
        }

        @include small-height-devices {
          font-size: 18px;

          &.smaller_description {
            font-size: 13.5px;
          }
        }

        @include landscape-tablet-up {
          font-size: 18px;

          &.smaller_description {
            font-size: 17px;
          }
        }

        @include phones {
          font-size: 15px;

          &.smaller_description {
            font-size: 12px;
          }
        }

        @include small-phones {
          font-size: 12px;

          &.smaller_description {
            font-size: 11px;
          }
        }

        @include tiny-phones {
          font-size: 10px;

          &.smaller_description {
            font-size: 10px;
          }
        }
      }
    }
  }

  & > .card {
    .card__inner {
      svg {
        top: 5px;
        height: 92%;
      }
    }
  }

  .double_cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 38%;

    .card {
      height: 100%;
      width: 49%;

      .card__inner {
        width: 96%;
        height: 90%;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50% 50%;
        align-items: center;

        .title {
          font-size: 350%;

          @include small-height-devices {
            font-size: 280%;
            top: 1px;
          }

          @include landscape-tablet-up {
            font-size: 300%;
          }

          @include phones {
            font-size: 230%;
            top: 0px;
          }

          @include tiny-phones {
            font-size: 170%;
          }
        }

        .icon {
          width: 80%;
          position: relative;
          bottom: 6px;

          &.dino {
            width: 90%;
            bottom: 18px;

            @include phones {
              bottom: 15px;
            }
          }
        }
      }
    }
  }

  &.ja {
    .card .card__inner {
      .title {
        font-size: 300%;
        top: 15px;
      }

      .description {
        letter-spacing: 0.5px;
        font-size: 18px;
      }
    }

    .double_cards .card .card__inner {
      .title {
        font-size: 220%;
        top: 2px;
      }

      .description {
        line-height: 1.2;
      }
    }

    @include phones {
      .card .card__inner {
        .title {
          font-size: 200%;
        }

        .description {
          font-size: 13px;
        }
      }

      .double_cards .card .card__inner {
        .title {
          font-size: 150%;
        }
      }
    }

    @include small-phones {
      .card .card__inner {
        .title {
          top: 12px;
        }

        .description {
          font-size: 10px;
        }
      }
    }
  }

  &.fr {
    .double_cards .card:first-child .card__inner {
      .title {
        font-size: 220%;
        top: 2px;
      }

      .description {
        line-height: 1.2;
        font-size: 18px;
      }
    }

    @include phones {
      .double_cards .card:first-child .card__inner {
        .title {
          font-size: 150%;
          top: 2px;
        }

        .description {
          font-size: 12px;
        }
      }
    }
  }
}
