.bottom {
  background-color: $clear-bg;
  display: grid;
  grid-template-columns: 7.5% 1fr;
  grid-template-rows: 6.5% 1fr;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &.active_on_click {
      &:active {
        opacity: 0;
      }
    }

    &.active {
      position: absolute;
      left: 0px;
      z-index: 1;
    }
  }

  .tools_column {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5px;

    .pixelated_top_left {
      @include pixelated-top-left;
    }

    .tool_container {
      width: 33px;
      height: 33px;
      position: relative;
    }

    .arrows_section {
      :first-child {
        margin-bottom: 2px;
      }

      &::after {
        content: '';
        display: block;
        border-top: dotted 2.5px $dark-gray;
        width: 120%;
        position: relative;
        right: 3px;
        filter: blur(0.6px);
        margin: 4px 0 6px 0;

        @include phones {
          border-width: 2px;
        }
      }
    }

    .pencil_section {
      .pencil_and_eraser {
        margin-bottom: 12px;

        :first-child {
          margin-bottom: 2px;
        }
      }

      .strokes {
        :first-child {
          margin-bottom: 2px;
        }
      }

      &::after {
        content: '';
        display: block;
        border-top: dotted 2.5px $dark-gray;
        width: 120%;
        position: relative;
        right: 3px;
        filter: blur(0.6px);
        margin: 6px 0px;

        @include phones {
          border-width: 2px;
        }
      }
    }

    .keyboards_section {
      div {
        margin: 5px 0;

        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }

  .close_btn {
    position: relative;
    justify-self: end;
    align-self: center;
    margin-right: 3px;
    width: 22px;
    height: 22px;
  }

  .canvas_column {
  }
}
