html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: $app-bg;
  scrollbar-gutter: stable;

  * {
    user-select: none;
    -webkit-touch-callout: none;
  }
}

:root {
  color-scheme: light only;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.floating_key {
  @include ds-font;
  color: $key-color;
  position: absolute;
}

.main {
  background-color: $app-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screens_section {
  width: 550px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @include small-height-devices {
    width: 450px;
    min-height: 720px;
  }

  @include landscape-tablet-up {
    min-width: 400px;
    width: 75vw;
    min-height: unset;
  }

  @include phones {
    min-width: 200px;
    width: 95vw;
    height: 95vh;
  }

  @include landscape-phones {
    min-height: 900px;

    @media (min-width: 700px) {
      margin: 4% 0;
    }
  }

  @include small-height-devices {
    margin: 60px 0;
  }
}

.screen {
  aspect-ratio: 4 / 3;
  border: 4px solid #333;
  max-height: 500px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 3px 6px #222;
  @include ds-font;
}

.modal_cover {
  background-color: rgb(34 34 34 / 80%);
  height: 100%;
  width: 101%;
  position: absolute;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

// Add a pretty cross-browser scrollbar
.scrollify {
  overflow-y: scroll;

  @supports (not selector(::-webkit-scrollbar)) {
    scrollbar-width: thin;
    scrollbar-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 6px;
    // border: 3px solid $scrollbar-color;
  }

  &.scrollify-dark {
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-color-dark;
    }
  }
}

.justify_between_around {
  justify-content: space-between !important;

  @include phones {
    justify-content: space-around !important;
  }
}

.justify_around {
  justify-content: space-around !important;
}

.justify_evenly {
  justify-content: space-evenly !important;
}

.d_none {
  display: none;
}

.disabled_opacity {
  filter: opacity(0.8);
}

.no_pointer_events {
  pointer-events: none;
}

.page_404 {
  @include ds-font;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 90vh;

  h1,
  h2,
  span {
    font-size: 42px;
    font-weight: 500;
  }

  @include small-phones {
    h1,
    h2,
    span {
      font-size: 35px;
    }
  }
}
