// VARIABLES
$app-bg: #efefef;

$clear-bg: #fbfbfb;
$green-border: #5a8d5a;
$wifi-bg: #2ebc00;
$wifi-antenna: #888888;
$content-visible: #415969;
$content-invisible: #b2c3db;
$dark-gray: #696969;
$key-bg: #ebebeb;
$key-color: #424242;
$special-key-bg: #cbcbcb;
$send-area-bg: #dbdbdb;
$send-area-active-bg: #b2c3db;
$transparent-gray: #69696994;
$dim-beige: #d6d2cb;
$mellow-yellow: #f9ed71;
$strong-yellow: #fbd300;
$now-entering: #ddec00;
$now-leaving: #18e0c5;
$strong-orange: #fb6900;
$scrollbar-color: rgba(228, 228, 228, 0.6);
$scrollbar-color-dark: rgba(132, 132, 132, 0.6);

@font-face {
  font-family: 'nds';
  src: url('/fonts/nds.ttf') format('truetype');
}

// MIXINS
@mixin tiny-phones {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin small-phones {
  @media (max-width: 390px) {
    @content;
  }
}

@mixin phones {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin landscape-tablet-up {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin landscape-phones {
  @media (max-height: 600px) and (min-width: 500px) {
    @content;
  }
}

@mixin ipad-pro-11 {
  @media (min-width: 800px) and (max-width: 835px) and (min-height: 1050px) and (max-height: 1195px) {
    @content;
  }
}

@mixin small-height-devices {
  @media (min-width: 1200px) and (max-width: 1536px) and (max-height: 920px) {
    @content;
  }
}

@mixin standard-laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin large-monitor {
  @media (max-width: 1380px) {
    @content;
  }
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexcenter-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin options-bg {
  background-image: url('/backgrounds/options-bg.png');
  background-size: cover;
}

@mixin left-column-dotted-separator {
  height: 0;
  width: 100%;
  display: block;
  border-top: dotted 3px $green-border;
  filter: blur(0.6px);

  @include phones {
    border-width: 2px;
  }
}

@mixin ds-font {
  font-family: 'nds', roboto, sans-serif;
}

@mixin pixelated-rectangle {
  clip-path: polygon(
    0px 8px,
    2px 8px,
    2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    8px 2px,
    8px 0px,
    calc(100% - 8px) 0px,
    calc(100% - 8px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 8px),
    0px calc(100% - 8px)
  ) !important;

  @include phones {
    clip-path: polygon(
      0px 4px,
      1px 4px,
      1px 3px,
      2px 3px,
      2px 2px,
      3px 2px,
      3px 1px,
      4px 1px,
      4px 0px,
      calc(100% - 4px) 0px,
      calc(100% - 4px) 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) 4px,
      100% 4px,
      100% calc(100% - 4px),
      calc(100% - 1px) calc(100% - 4px),
      calc(100% - 1px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 1px),
      calc(100% - 4px) calc(100% - 1px),
      calc(100% - 4px) 100%,
      4px 100%,
      4px calc(100% - 1px),
      3px calc(100% - 1px),
      3px calc(100% - 2px),
      2px calc(100% - 2px),
      2px calc(100% - 3px),
      1px calc(100% - 3px),
      1px calc(100% - 4px),
      0px calc(100% - 4px)
    ) !important;
  }
}

@mixin pixelated-rectangle-except-left {
  clip-path: polygon(
    0px 8px,
    0px 8px,
    0px 6px,
    0px 6px,
    0px 4px,
    0px 4px,
    0px 2px,
    0px 0px,
    8px 0px,
    calc(100% - 8px) 0px,
    calc(100% - 8px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 0px),
    6px calc(100% - 0px),
    6px calc(100% - 0px),
    4px calc(100% - 0px),
    0px calc(100% - 0px),
    2px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px)
  );

  @include phones {
    clip-path: polygon(
      0px 4px,
      0px 4px,
      0px 3px,
      0px 3px,
      0px 2px,
      0px 2px,
      0px 1px,
      0px 1px,
      4px 0px,
      calc(100% - 4px) 0px,
      calc(100% - 4px) 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) 4px,
      100% 4px,
      100% calc(100% - 4px),
      calc(100% - 1px) calc(100% - 4px),
      calc(100% - 1px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 1px),
      calc(100% - 4px) calc(100% - 1px),
      calc(100% - 4px) 100%,
      4px 100%,
      4px calc(100% - 0px),
      3px calc(100% - 0px),
      3px calc(100% - 0px),
      2px calc(100% - 0px),
      2px calc(100% - 0px),
      1px calc(100% - 0px),
      1px calc(100% - 0px),
      0px calc(100% - 0px)
    );
  }
}

@mixin pixelated-rectangle-except-right {
  clip-path: polygon(
    0px 8px,
    2px 8px,
    2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    8px 2px,
    8px 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    100% 0px,
    100% calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) 100%,
    8px 100%,
    8px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 8px),
    0px calc(100% - 8px)
  ) !important;

  @include phones {
    clip-path: polygon(
      0px 4px,
      1px 4px,
      1px 3px,
      2px 3px,
      2px 2px,
      3px 2px,
      3px 1px,
      4px 1px,
      4px 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      calc(100% - 0px) 0px,
      100% 0px,
      100% calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) calc(100% - 0px),
      calc(100% - 0px) 100%,
      4px 100%,
      4px calc(100% - 1px),
      3px calc(100% - 1px),
      3px calc(100% - 2px),
      2px calc(100% - 2px),
      2px calc(100% - 3px),
      1px calc(100% - 3px),
      1px calc(100% - 4px),
      0px calc(100% - 4px)
    ) !important;
  }
}

@mixin pixelated-top-left-small {
  clip-path: polygon(
    0px 4px,
    1px 4px,
    1px 3px,
    2px 3px,
    2px 2px,
    3px 2px,
    3px 1px,
    4px 1px,
    4px 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    calc(100% - 0px) 0px,
    100% 0px,
    100% calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) 100%,
    0px 100%,
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px)
  ) !important;
}

div.main {
  --backToCornerWidth: 35%;

  @include small-phones() {
    --backToCornerWidth: 50%;
  }
}

@mixin pixelated-rectangle-except-bottom-left {
  clip-path: polygon(
    0px 8px,
    2px 8px,
    2px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 2px,
    8px 2px,
    8px 0px,
    calc(100% - 8px) 0px,
    calc(100% - 8px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 6px),
    2px calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(100% - 0px)
  ) !important;

  @include phones {
    clip-path: polygon(
      0px 4px,
      1px 4px,
      1px 3px,
      2px 3px,
      2px 2px,
      3px 2px,
      3px 1px,
      4px 1px,
      4px 0px,
      calc(100% - 4px) 0px,
      calc(100% - 4px) 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) 4px,
      100% 4px,
      100% calc(100% - 4px),
      calc(100% - 1px) calc(100% - 4px),
      calc(100% - 1px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 1px),
      calc(100% - 4px) calc(100% - 1px),
      calc(100% - 4px) 100%,
      4px 100%,
      8px calc(100% - 0px),
      0px calc(100% - 0px),
      0px calc(100% - 0px),
      0px calc(100% - 0px),
      0px calc(100% - 6px),
      2px calc(100% - 0px),
      0px calc(100% - 0px),
      0px calc(100% - 0px)
    ) !important;
  }
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes opacityFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes binaryBlink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
